<% provide(:title,@user.name) %>
<div class="row">
    <asideclass="col-md-4">
        <sectionclass="user_info">
            <h1>
                <%= gravatar_for@user%>
                <%= @user.name%>
            </h1>
        </section>
    </aside>
</div>